/** helpers **/
.responsive-img {
  max-width: 100%;
  height: auto;
}

.circle-img {
  border-radius: 50%;
}

.highlightSearchTerm {
  background-color: yellowgreen;
  font-weight: bold;
  padding: 2px;
}