/** helpers **/
.responsive-img {
  max-width: 100%;
  height: auto;
}

.circle-img {
  border-radius: 50%;
}

/** header **/
.header {
  width: calc(100% - 40px);
  padding: 0 20px;
  margin: 0 0 20px 0;
  height: 75px;
  line-height: 75px;
  background-color: #000;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

/** employee directory **/
.employee-directory {
  margin: 0 auto;
  max-width: 80%;
}

/** display options **/
.display-options {
  padding: 10px;
  /* display: grid;
  grid-template-columns: 10% 20% 20% 50%   */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px 0;
  border: none;
}

.filters {
  min-width: 59%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filters span {
  padding-right: 10px;
}

.filters select {
  flex-grow: 2;
}

.search {
  width: 40%;
  text-align: right;
  padding-bottom: 5px;
}
.search input[type="search"] {
  width: 100%;
}

/** results count **/
.resultsCount {
  margin: 5px auto 20px auto;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

/** employee card **/
.employee-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 15px #ccc;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 25px;
}
.employee-picture {
  text-align: center;
  min-width: 20%;
  margin-right: 15px;
}
.employee-picture img {
  width: 150px;
}
.employee-info {
  min-width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.employee-info span {
  font-size: 0.9em;
  align-self: center;
  padding-left: 10px;
}
.employee-info .field-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 875px) {
  .employee-card {
    flex-direction: column;
  }
  .employee-info {
    padding: 15px 0 0 10px;
  }
  .employee-info span {
    margin-bottom: 10px;
    padding-left: 0;
  }
}
.employee-info span>small {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 875px) {
  .employee-card {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .employee-info {
    grid-template-columns: 1fr;
  }
}