.display-options {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px 0;
  border: none;
}

.filters {
  min-width: 59%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filters span {
  padding-right: 10px;
}

.filters select {
  flex-grow: 2;
}

.search {
  width: 40%;
  text-align: right;
  padding-bottom: 5px;
}

.search input[type="search"] {
  width: 100%;
}