.display-options {
  padding: 10px;
  display: grid;
  grid-template-columns: 60px 1fr 1fr 2fr;
  column-gap: 10px;
  border: none;
  margin-bottom: 20px;
  align-items: center;
}

.display-options select,
.display-options input[type=search] {
  font-size: 1em;
  padding: 3px;
}

@media (max-width: 425px) {
  .display-options {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    border: none;
  }
  .display-options>span {
    display: none;
  }
}