.display-options {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  column-gap: 10px;
  border: none;
  margin-bottom: 20px;
  align-items: center;
}

.display-options select,
.display-options input[type=search] {
  font-size: 1em;
  padding: 3px;
}

@media (max-width: 768px) {
  .display-options {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .display-options input[type=search] {
    grid-column: 2 / 2;
  }
}

@media (max-width: 425px) {
  .display-options {
    grid-template-columns: 100%;
    border: none;
  }
  .display-options input[type=search] {
    grid-column: unset;
  }
}